*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#8d1515;
    color: white;
}

.main{
    text-align: center;
    margin-top: 100px;
}
h1{
    text-align: center;
    margin-top: 20px;
}
.button a{
    text-decoration: none;
    color: white;
}
.button{
    display: inline;
    border: 1px solid #612d2d;
    padding: 10px;
    margin: 20px;
    background-color:#612d2d;
    text-decoration: none;
    color: white;
}